<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <script src="public/scripts/main.js"></script>
    <title>dashboard</title>
</head>
<body>
    <h1>dashboard</h1>
    <main>  
        <div class="card">
            <img src="https://random.imagecdn.app/700/700">
            <div class="image-placeholder">
                NEWS!
            </div>
            <p>
                this is example of our photo news
            </p>
        </div>
        <div>
            dzien dobry ja chcialbym sie zorientowac w cenie biletow na lige mistrzow tutaj y u nas w warszawie tak tak a jaka pana interesuje trybuna zyleta zyleta z karta czy bez halo slucham z karta czy bez bez bo ja to kibicem lecha jestem co pan jest y nic bilety ja chcialbym sie zorientowac w cene 35 zlotych 35 a na taka siedzaca jak na siedzaca slucham jak na siedzaca y no tam sie nie siedzi tam sie stoi i kibicuje ale na siedzaca trybune to zakryta czy gdzies tak tak no to od 60 do 80 zlotych uhuhu mhm a swoja droga to legia to stara kurwa legia jebana jest sluchaj szczylu zafajdany kurwa ja jestem kibicem lecha i mnie tu nie wkurwiaj ty mnie nie wkurwiaj parowo pierdolona deta zdejmij te ware z nosa (bedziesz mial ze mna do czynienia pajacu) i sie wydymaj kurwa w dupe cwelu pierdolony kurwy i smiecie z poznania nie wyjedziecie teraz to
        </div>
        <div class="floating-icon">
            <i class="fa-solid fa-plus"></i>
        </div>
    </main>
</body>
</html>