<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <div class="tittle">
            Purrfect Care
        </div>
        <nav class="option-bar">
            <ul>
                <div>user1</div>
                <img src="public/img/avatar.jpg" class="small-avatar">
                <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <div class="box_top">
            <div>Dashboard</div>
            <a href="#"><i class="fa-solid fa-circle-plus"></i>Add new cat</a>
        </div>
        <div class="box_middle">
            <div class="section-tittle">Your cats</div>
            <div class="your-cats">
                <div class="cat-card">
                    <img src="public/img/cat1.jpg" class="cat-image">
                    <div class="cat-info">
                        <div class="cat-name">Gilbert</div>
                        <div class="cat-activity">Next feeding 5:00 PM</div>
                    </div>
                </div>
                <div class="cat-card">
                    <img src="public/img/cat2.jpg" class="cat-image">
                    <div class="cat-info">
                        <div class="cat-name">Żaneta</div>
                        <div class="cat-activity">Next feeding 5:00 PM</div>
                    </div>
                </div>
                <div class="cat-card">
                    <img src="public/img/cat3.jpg" class="cat-image">
                    <div class="cat-info">
                        <div class="cat-name">Albert</div>
                        <div class="cat-activity">Next feeding 5:00 PM</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_bottom">
            <div class="all-activities"> 
    
                <div class="activity-column">
                    <div class="activity-tittle">Recent activities</div>
                    <div class="cat-activity">
                        <div class="activity-card">
                            <div class="activity-icon">
                                <i class="fa-solid fa-utensils"></i>
                            </div>
                            <div class="activity-info">
                                <div class="activity-text">Fed Gilbert</div>
                                <div class="activity-time">Today at 5:00 PM</div>
                            </div>
                        </div>
                        <div class="activity-card">
                            <div class="activity-icon">
                                <i class="fa-solid fa-puzzle-piece"></i> </div>
                            <div class="activity-info">
                                <div class="activity-text">Play with Gilbert</div>
                                <div class="activity-time">Today at 9:00 PM</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="activity-column">
                    <div class="activity-tittle">Future activities</div>
                    <div class="cat-activity">
                        <div class="activity-card">
                            <div class="activity-icon">
                                <i class="fa-solid fa-utensils"></i>
                            </div>
                            <div class="activity-info">
                                <div class="activity-text">Fed Gilbert</div>
                                <div class="activity-time">Tomorrow at 7:00 AM</div>
                            </div>
                        </div>
                        <div class="activity-card">
                            <div class="activity-icon">
                                <i class="fa-solid fa-bed"></i> </div>
                            <div class="activity-info">
                                <div class="activity-text">Nap Time</div>
                                <div class="activity-time">Tomorrow at 1:00 PM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <nav class="menu-bar" >
        <ul>
            <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="#"><i class="fa-solid fa-cat"></i>Cats</a></li>
            <li><a href="#"><i class="fa-solid fa-calendar"></i> Schedule</a></li>
            <li><a href="#"><i class="fa-solid fa-bars"></i>Logs</a></li>
            <li><a href="#"><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </nav>
    </footer>
</body>
</html>