<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/styles/details.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <div class="tittle">
            Purrfect Care
        </div>
        <nav class="option-bar">
            <ul>
                <div>user1</div>
                <img src="public/img/avatar.jpg" class="small-avatar">
                <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <div class="box_top">
            <div>Cat profile</div>
            <a href="#"><i class="fa-solid fa-arrow-left"></i>Back</a>
        </div>
        <div class="primary-content">
            <div class="left-container">
                <div class="cat-description">
                    <div class="cat-description-image">
                        <img src="public/img/cat1.jpg" class="cat-image">
                    </div>
                    <div class="cat-description-text">
                        <div class="cat-name">Gilbert</div>
                        <div class="cat-settings">
                            <div class="cat-breed">Moggie cat</div>
                            <div class="cat-age">Age: 3 years</div>
                        </div>
                    </div>
                    <a href="#"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                </div>
                <div class="image-box">
                    <div class="images">
                        <div class="images-box-description">
                            <div class="gallery">Gallery</div>
                            <div class="images-buttons">
                                <a href="#"><i class="fa-solid fa-angle-down"></i></a>
                                <a href="#"><i class="fa-solid fa-square-plus"></i></a>
                                <a href="#"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                        <div class="all-images">
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                            
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                            <div class="singlepicture"><img src="public/img/cat1.jpg" class="cat-image"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="box with activities">
                    <div class="section-tittle">
                        Planned activities
                        <div class="plusik">
                            <i class="fa-solid fa-circle-plus"></i>                    
                        </div>
                    </div>
                    <div class="section-subtitle">You can manage planned activities</div>
                    <div class="cat-details-cards">
                        <div class="cat-detail-card">
                            <div class="lewa">
                                <h1>dietka</h1> 
                                <p>bla bla bla</p>
                            </div>
                            <div class="srodek">
                                SS-MM-HH, DD-MM-YYYY
                            </div>
                            <div class="prawa">
                                <i class="fa-solid fa-ellipsis"></i>                                
                            </div>
                        </div>
                        <div class="cat-detail-card">
                            <div class="lewa">
                                <h1>dietka</h1> 
                                <p>bla bla bla</p>
                            </div>
                            <div class="srodek">
                                SS-MM-HH, DD-MM-YYYY
                            </div>
                            <div class="prawa">
                                <i class="fa-solid fa-ellipsis"></i>                                
                            </div>
                        </div>
                        <div class="cat-detail-card">
                            <div class="lewa">
                                <h1>dietka</h1> 
                                <p>bla bla bla</p>
                            </div>
                            <div class="srodek">
                                SS-MM-HH, DD-MM-YYYY
                            </div>
                            <div class="prawa">
                                <i class="fa-solid fa-ellipsis"></i>                                
                            </div>
                        </div>
                        <div class="cat-detail-card">
                            <div class="lewa">
                                <h1>dietka</h1> 
                                <p>bla bla bla</p>
                            </div>
                            <div class="srodek">
                                SS-MM-HH, DD-MM-YYYY
                            </div>
                            <div class="prawa">
                                <i class="fa-solid fa-ellipsis"></i>                                
                            </div>
                        </div>
                        <div class="cat-detail-card">
                            <div class="lewa">
                                <h1>dietka</h1> 
                                <p>bla bla bla</p>
                            </div>
                            <div class="srodek">
                                SS-MM-HH, DD-MM-YYYY
                            </div>
                            <div class="prawa">
                                <i class="fa-solid fa-ellipsis"></i>                                
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="box_bottom">
            <div class="view-activity-log">See activity logs</div>
        </div>
    </main>
    <footer class="footer">
        <nav class="menu-bar">
            <ul>
                <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="#"><i class="fa-solid fa-cat"></i>Cats</a></li>
                <li><a href="#"><i class="fa-solid fa-calendar"></i> Schedule</a></li>
                <li><a href="#"><i class="fa-solid fa-bars"></i>Logs</a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i>Settings</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
