<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/styles/details.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <div class="tittle">
            Purrfect Care
        </div>
        <nav class="option-bar">
            <ul>
                <div>user1</div>
                <img src="public/img/avatar.jpg" class="small-avatar">
                <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <div class="box_top">
            <div>Details</div>
            <div class="options">
                <div class="single-option">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back
                </div>
                <div class="single-option">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Modify
                </div>
                <div class="single-option">
                    <i class="fa-regular fa-trash-can"></i>
                    Delete
                </div>                    
            </div>
            </div>
        </div>
        <div class="box_middle">
            glowny box
        </div>
        <div class="bottom_box">
            jakies guziki tu beda
        </div>
    </main>

    <footer class="footer">
        <nav class="menu-bar" >
        <ul>
            <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="#"><i class="fa-solid fa-cat"></i>Cats</a></li>
            <li><a href="#"><i class="fa-solid fa-calendar"></i> Schedule</a></li>
            <li><a href="#"><i class="fa-solid fa-bars"></i>Logs</a></li>
            <li><a href="#"><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </nav>
    </footer>
</body>
</html>