<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/styles/logs.css">
    <title>Logs</title>
</head>
<body>
    <header class="header">
        <div class="tittle">
            Purrfect Care
        </div>
        <nav class="option-bar">
            <ul>
                <div>user1</div>
                <img src="public/img/avatar.jpg" class="small-avatar">
                <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <div class="box_top">
            <div>Logs</div>
            <div class="options">
                <div class="single-option">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back
                </div>                
            </div>
        </div>
        <div class="section-box">
            <div class="box_middle">
                <div class="section-tittle">
                    Users
                </div>
                <div class="section-subtitle">You can manage all of actions here</div>
                <div class="panel">
                    <div class="filter-panel">
                        <button class="fitlers-btn">Filters</button>
                        <button class="fitlers-btn">Options</button>
                    </div>
                    <div class="search-panel">
                        <input type="text" class="search-input" placeholder="Enter a phrase to search for...">
                        <button class="search-btn">Search</button>
                    </div>
                </div>
                <div class="logs-table">
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Cat name</th>
                            <th>Cat name</th>
                            <th>User</th>
                            <th>Action</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="public/img/cat1.jpg" alt="cat-img"></td>
                            <td>Gilbert</td>
                            <td>user1</td>
                            <td>Feeding</td>
                            <td>Feeding by wet food</td>
                            <td><time datetime="08:30:45 20-12-1914">08:30:45<br>20-12-1914</time></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img src="public/img/cat1.jpg" alt="cat-img"></td>
                            <td>Gilbert</td>
                            <td>user1</td>
                            <td>Feeding</td>
                            <td>Feeding by wet food</td>
                            <td><time datetime="08:30:45 20-12-1914">08:30:45<br>20-12-1914</time></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img src="public/img/cat1.jpg" alt="cat-img"></td>
                            <td>Gilbert</td>
                            <td>user1</td>
                            <td>Feeding</td>
                            <td>Feeding by wet food</td>
                            <td><time datetime="08:30:45 20-12-1914">08:30:45<br>20-12-1914</time></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><img src="public/img/cat1.jpg" alt="cat-img"></td>
                            <td>Gilbert</td>
                            <td>user1</td>
                            <td>Feeding</td>
                            <td>Feeding by wet food</td>
                            <td><time datetime="08:30:45 20-12-1914">08:30:45<br>20-12-1914</time></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <nav class="menu-bar" >
        <ul>
            <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="#"><i class="fa-solid fa-cat"></i>Cats</a></li>
            <li><a href="#"><i class="fa-solid fa-calendar"></i> Schedule</a></li>
            <li><a href="#"><i class="fa-solid fa-bars"></i>Logs</a></li>
            <li><a href="#"><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </nav>
    </footer>
</body>
</html>
