<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/login.css">
    <title>Purrfect Care - Rejestracja</title>
</head>
<body>
    <div class="background"> 
            <img src="/public/img/backgroundcat.PNG" class="backgroundcat">
    </div>
    <div class="items">
            <div class="tittle">
                Welcome to<br class="mobile-break"> Purrfect Care
            </div>
                <div class="login-container">
                    <form method="POST">
                        <input name="username" type="text" class="input" placeholder="Username">
                        <input name="email" type="email" class="input" placeholder="Email">
                        <input name="password1" type="password" class="input" placeholder="Password">
                        <input name="password2" type="password" class="input" placeholder="Password">
                        <input name="firstname" type="text" class="input" placeholder="imie">
                        <input name="lastname" type="text" class="input" placeholder="nazwisko">
                        <button type="submit" class="signin">sign up</button>
                    </form>
                </div>
    </div>
    <footer class="signup-prompt">
        <p>already have an account? <a href="/login" class="signup-link">log in</a></p>
    </footer>
</body>
</html>