<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/styles/settings.css">
    <title>Settings</title>
</head>
<body>
    <header class="header">
        <div class="tittle">
            Purrfect Care
        </div>
        <nav class="option-bar">
            <ul>
                <div>user1</div>
                <img src="public/img/avatar.jpg" class="small-avatar">
                <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <div class="box_top">
            <div>Settings</div>
            <div class="options">
                <div class="single-option">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back
                </div>                
            </div>
        </div>
        <div class="section-box">
            <div class="box_middle">
                <div class="section-tittle">
                    Users
                </div>
                <div class="section-subtitle">You can manage users here</div>
                <div class="all-users">
                    <div class="single-user">
                        <img src="public/img/avatar.jpg" class="user-avatar"> 
                        <div class="user-description">
                            <div class="user-name">
                                user1
                            </div>
                            <div class="user-icons">
                                <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                                <a href="#"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-user">
                        <img src="public/img/avatar.jpg" class="user-avatar"> 
                        <div class="user-description">
                            <div class="user-name">
                                user1
                            </div>
                            <div class="user-icons">
                                <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                                <a href="#"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-user">
                        <img src="public/img/avatar.jpg" class="user-avatar"> 
                        <div class="user-description">
                            <div class="user-name">
                                user1
                            </div>
                            <div class="user-icons">
                                <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                                <a href="#"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-user">
                        <img src="public/img/avatar.jpg" class="user-avatar"> 
                        <div class="user-description">
                            <div class="user-name">
                                user2
                            </div>
                            <div class="user-icons">
                                <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                                <a href="#"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-box">
            <div class="box_bottom">
                <div class="section-tittle">
                    Application settings
                </div>
                <div class="section-subtitle">You can manage application settings here</div>
                <div class="settings-options">
                    <div class="settings-left">
                        <div class="setting-tittle">Basic settings</div>
                        <label>
                            xd
                            <input type="checkbox" name="setting-checkbox" value="yes">
                        </label>
                        <label>
                            halo khartus??
                            <input type="checkbox" name="setting-checkbox" value="yes">
                        </label>
                        <label>
                            nie wiem co tu sie robi many
                            <input type="checkbox" name="setting-checkbox" value="yes">
                        </label>
                    </div>
                    <div class="settings-right">
                        <div class="setting-tittle">Basic settings</div>
                        <label>
                            xd
                            <input type="checkbox" name="setting-checkbox" value="yes">
                        </label>
                    </div>
                    <div class="settings-empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="box_under_bottom">
            <div class="logout-mobile">Log out</div>
        </div>
    </main>

    <footer class="footer">
        <nav class="menu-bar" >
        <ul>
            <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="#"><i class="fa-solid fa-cat"></i>Cats</a></li>
            <li><a href="#"><i class="fa-solid fa-calendar"></i> Schedule</a></li>
            <li><a href="#"><i class="fa-solid fa-bars"></i>Logs</a></li>
            <li><a href="#"><i class="fa-solid fa-gear"></i>Settings</a></li>
        </ul>
    </nav>
    </footer>
</body>
</html>
