body {
    min-height: 100vh;
    margin: 0; 
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    height: 10vh;
}

.header {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.option-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 1.5rem;
    align-items: center;
}

.option-bar {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.option-bar ul li a,
.option-bar ul li a:visited {
    color: #551a8b;
    text-decoration: none;
}

.option-bar ul li a i {
    color: inherit;
}

.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tittle {
    font-size: 3rem;
    margin-left: 50px;
}

.footer {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: center;
    width: 100%;
}

.menu-bar ul {
    list-style-type: none;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.menu-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
    color: #551a8b;
}

.menu-bar ul li a:visited {
    color: #551a8b;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 20px 0;
    margin-bottom: 0px;
}

.box_top a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

html {
    height: 100%;
}


/* pimary content */
.section-tittle {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    padding: 10px 0 5px 0;
}

.section-subtitle {
    font-size: 1rem;
    color: #999;
    margin-bottom: 18px;
}

.primary-content {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}


/* karty */
.cat-card {
    flex: 1 0 300px;
    margin: 0;
    background-color: rgb(238, 238, 238);
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.cat-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* delikatny cien */
    background-color: rgba(0, 0, 0, 0.062); /* opcjonalnie rozjasnienie tla */
}

.cat-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
    border: 4px solid var(--theme-pink-bg);
}

.cat-name {
    font-size: 26px;
    font-weight: 700;
    margin: 5px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.cat-meta {
    font-size: 13px;
    color: var(--text-secondary);
    margin-bottom: 20px;
    font-weight: 500;
}

.cat-meta span {
    margin: 0 3px;
}

.cat-description {
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 25px 0;
    padding: 0 5px;
}

.cat-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #f0f0f0;
}

.cat-image-wrapper {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    position: relative;
}


.cat-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon-btn {
    background-color: #d66bd2;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}


.cat-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

@media (max-width: 1300px) {
    /* bydom zmiany tu nie */
}

@media (max-width: 700px) {
    .header {
        display: none;
    }

    .main-content {
        padding: 0;
        position: relative;
    }

    .box_top > div,
    .box_top a i {
        margin-top: 30px;
        position: sticky;
        z-index: 100;
    }

    .box_top a {
        font-size: 0;
    }

    .box_top a i {
        font-size: 40px;
    }

    .box_top {
        position: sticky;
        top: 0;
        background-color: rgba(240, 199, 237);
        z-index: 10;
    }
}
