body {
    min-height: 100vh;
    margin: 0; 
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction:  column;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    height: 10vh;
}

/* nagłówek górnego menu, tło i ułożenie elementów*/
.header {
    height: 10vh;
    background-color: rgba(240, 199, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* user1, avatar, dzwonek i logout w nagłówku */
.option-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 1.5rem;
    align-items: center;
}

.option-bar {
    display: flex;
    align-items: center;
    margin-right: 50px;
 }

 /*zachowanie avataru w nagłówku*/
.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* tytuł dashboardu */
.tittle {
    font-size: 3rem;
    margin-left: 50px;
}

/*stopka dolnego menu, tło i zachowanie*/
.footer {
    height: 10vh;
    background-color: rgba(240, 199, 237);
    display: flex;
    align-items: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* dolne menu */
.menu-bar ul {
    list-style-type: none;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.menu-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* główna zawartość dashboardu */
.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 5%;
    box-sizing: border-box;
}

/* tytul podstrony */
.box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 20px 2rem;
    margin-bottom: 0px;
}

.box_top a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* TUTAJ KOTY SA PRZEGLAD KUMALSKI */
.box_middle {
    margin-bottom: 20px;
}


.your-cats {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0px 2rem;
}

.cat-card{ 
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 525px;
}

.cat-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px;
}

.cat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    margin-left: 10px;
}

.cat-info .cat-name {
    font-size: 1.2rem;
    font-weight: bold;
}

 .section-tittle {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    padding: 20px 2rem;
}
    
/* 2/2 zawartosci strony */
.box_bottom {
    margin-bottom: 20px;
}

.activity-card {
    display: flex;
    width: 300px;
    height: 80px;
    background-color: rgb(238,238,238);
    border-radius: 20px;
}

.activity-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #f0c7ed;
    color: #d364cd;
    border-radius: 20px;
    font-size: 30px;
    margin: 10px;
}

.activity-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.activity-text {
    font-size: 20px;
    font-weight: bold;
}

.activity-time {
    font-size: 15px;
    color: gray;
}

.all-activities {
    display: flex;
    flex-direction: row; 
    gap: 5rem;
    margin: 2rem;
}

.activity-tittle {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    padding: 20px 0rem;
}

.cat-activity {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* zapewnienie pełnej wysokości strony */
html {
    height: 100%;
}

@media (max-width: 1300px) {
    .cat-card {
        width: 100%;
    }
    .all-activities {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .activity-card{
        width: 100%;
    }
    .your-cats {
        gap: 10px;
    }
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
    .main-content {
        padding: 0;
    }
    .box_top > div, .box_top a i {
        margin-top: 30px;
    }
    .box_top a {
    font-size: 0;
    }

    .box_top a i {
    font-size: 40px;
    }
    .cat-image {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    .cat-info {
        gap: 0;
        font-size: 0.8rem;
    }
    .box_top {
        position: sticky;
        top: 0;
        background-color: rgba(240, 199, 237);
    }

}