body {
    min-height: 100vh;
    margin: 0; 
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction:  column;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    height: 10vh;
}

/* nagłówek górnego menu, tło i ułożenie elementów*/
.header {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* user1, avatar, dzwonek i logout w nagłówku */
.option-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 1.5rem;
    align-items: center;
}

.option-bar {
    display: flex;
    align-items: center;
    margin-right: 50px;
 }

 /*zachowanie avataru w nagłówku*/
.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* tytuł dashboardu */
.tittle {
    font-size: 3rem;
    margin-left: 50px;
}

/*stopka dolnego menu, tło i zachowanie*/
.footer {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    align-items: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* dolne menu */
.menu-bar ul {
    list-style-type: none;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.menu-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* główna zawartość dashboardu */
.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 5%;
    box-sizing: border-box;
}

/* tytul podstrony */
.box_primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 20px 2rem;
    margin-bottom: 0px;
}

.box_primary a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* TUTAJ KOTY SA PRZEGLAD KUMALSKI */
.box_middle {
    margin-bottom: 20px;
}

.items-card {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
    
}

.card{ 
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    min-width: calc((100% - 3rem - 6px) / 3);
    flex-shrink: 0;
}

.card-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    margin-left: 10px;
}

.card-info .cat-user-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.section-tittle {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 20px 2rem;
}
    
/* 2/2 TUTAJ SOM AKTYWNOSCI NIE?? */

.activity-card {
    display: flex;
    height: 80px;
    background-color: rgb(238,238,238);
    border-radius: 20px;
    border: 1px solid #ccc;
}

.activity-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #f0c7ed;
    color: #d364cd;
    border-radius: 20px;
    font-size: 30px;
    margin: 10px;
}

.activity-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activity-text {
    font-size: 20px;
    font-weight: bold;
}

.activity-time {
    font-size: 15px;
    color: gray;
}

.all-activities {
    display: flex;
    flex-direction: row; 
    gap: 5rem;
    margin: 2rem;
}

.activity-tittle {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    padding: 20px 0rem;
}

.card-activity-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.box_top {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.section-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 20px 2rem;
}

.box-top-items {
    display: flex;
    height: calc(100vh - 100px*2 - 88px - 20px - 38px - 20px);
    justify-content: center;
    align-items: center;
}
.box-top-middle{
    width: calc(100% - 20%);
    height: calc(100% - 30%);
    
    /* KALENDARZ ZDJ XD */
    overflow: hidden;
    position: relative;
}

/* KALENDARZ ZDJ CD  */
.box-top-middle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.activity-column {
    display: flex;
    justify-content: center;
    max-height: 266px;
    height: 266px;
    overflow-y: auto;
}

.section-activities-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 20px 2rem;
}

.activity-calendar {
    margin-top: 40px;
}



/* zapewnienie pełnej wysokości strony */
html {
    height: 100%;
}

@media (max-width: 1300px) {
    .card {
        min-width: calc((100% - 10px - 4px) / 2);
    }
    .all-activities {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .activity-card{
        width: 100%;
    }
    .items-card {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
    .main-content {
        padding: 0;
    }
    .box_primary > div, .box_primary a i {
        margin-top: 30px;
    }
    .box_primary a {
    font-size: 0;
    }

    .box_primary a i {
    font-size: 40px;
    }
    .card-image {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    .card-info {
        gap: 0;
        font-size: 0.8rem;
    }
    .box_primary {
        position: sticky;
        top: 0;
        background-color: rgba(240, 199, 237);
    }
    .items-card{
        display: flex;
        flex-direction: column;
    }

    .activity-icon {
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .activity-time, .activity-text {
        font-size: 1rem;
        gap: 0px;
    }
    .activity-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    .activity-card {
        display: flex;
        align-items: center;
        height: 72px;
    }

    .card-activity-info {
        gap: 0px;
    }
}


.items-card::-webkit-scrollbar {   /* Chrome / Edge / Safari */
    display: none;
}

.activity-column::-webkit-scrollbar {   /* Chrome / Edge / Safari */
    display: none;
}

