body {
    min-height: 100vh;
    margin: 0; 
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction:  column;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    height: 10vh;
}

/* nagłówek górnego menu, tło i ułożenie elementów*/
.header {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tittle {
    font-weight: bold;
}

/* user1, avatar, dzwonek i logout w nagłówku */
.option-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 1.5rem;
    align-items: center;
}

.option-bar {
    display: flex;
    align-items: center;
    margin-right: 50px;
 }

 /*zachowanie avataru w nagłówku*/
.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* tytuł dashboardu */
.tittle {
    font-size: 3rem;
    margin-left: 50px;
}

/*stopka dolnego menu, tło i zachowanie*/
.footer {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    align-items: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* dolne menu */
.menu-bar ul {
    list-style-type: none;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.menu-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* główna zawartość dashboardu */
.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 5%;
    box-sizing: border-box;
}

/* tytul podstrony */
.box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 20px 2rem;
    margin-bottom: 0px;
}

.box_top a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

 .section-tittle {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 20px 2rem;
}

.section-tittle a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* GALERIA ZDJEC NIE?? */
.image-box {
    display: flex;
    justify-content: center;
}

.images {
    width: 395px;
    height: 470px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.images-box-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    align-items: center;
}
.images-buttons {
    font-size: 20px;
    display: flex;
    gap: 15px;
}

.gallery {
    font-size: 30px;
    font-weight: bold;
}

.singlepicture {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.all-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
}

.singlepicture > .cat-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cat-profile-container {
    display: grid;
    grid-template-columns: 55% 45%;
}


/* tutaj zdjecie kocura, imie, rasa, wiek */
.cat-description {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cat-description img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 2rem;
}

.cat-description {
    display: flex;
    align-items: center;
}

.cat-name {
    font-size: 30px;
    font-weight: bold;
}
.cat-settings {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.cat-breed::after {
    content: "•";
    margin: 0 8px;
}

.cat-description-text {
    margin-left: 2rem;
}

/* opis kocura */
.cat-details-cards {
    display: flex;
    flex-direction: column;
    /* margin: 10px 0px; */
}

.cat-detail-card {
    border-radius: 20px;
    margin: 5px 2rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
}

.cat-detail-card > h1 {
    font-size: 20px;
    margin: 20px 20px 0px 20px;
}

.cat-detail-card > p {
    font-size: 16px;
    margin: 10px 20px 20px 20px;
}



/* przycisk na dole strony */
.box_bottom {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    /* bez position: fixed */
}

.view-activity-log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 40px;
    background-color: rgba(206, 70, 197, 0.75);
    border-radius: 20px;
}



.cat-description > a {
    margin-left: auto;
    margin-right: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}





/* zapewnienie pełnej wysokości strony */
html {
    height: 100%;
}

@media (max-width: 1300px) {
    .cat-profile-container {
        display: flex;
        flex-direction: column;
    }
    .image-box {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
    .main-content {
        padding: 0;
        position: relative;
    }
    .box_top > div, .box_top a i {
        margin-top: 30px;
        position: sticky;
        z-index: 100;
    }
    .box_top a {
        font-size: 0;
    }

    .box_top a i {
        font-size: 40px;
    }

    .cat-description a {
        font-size: 0px;
    }

    .cat-description a i {
        font-size: 30px;
    }

    .box_top {
        position: sticky;
        top: 0;
        background-color: rgba(240, 199, 237);
        z-index: 10;
    }
    .images {
        transform: scale(0.8); /* zmniejszenie do 70% */
        margin-top: 0px;
    }
    .box_bottom {
        margin-top: 0px;
    }

    .cat-description {
        margin-top: 2rem;
    }

    .cat-settings {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    }
    .cat-breed::after {
        display: none;
    }

    .cat-name {
        font-size: 25px;
    }
    .cat-settings {
        font-size: 15px;
    }
    .cat-description img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 2rem;
    }
    .cat-description-text {
        margin-left: 1rem;
    }

    .cat-detail-card > h1 {
        font-size: 16px;
        margin: 10px 10px 0px 10px;
    }

    .cat-detail-card > p {
        font-size: 12px;
        margin: 5px 10px 10px 10px;
    }
    .image-box {
        margin-top: 0px;
        margin-bottom: 0px;
    }


}