body {
    min-height: 100vh;
    margin: 0; 
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction:  column;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    height: 10vh;
}

/* nagłówek górnego menu, tło i ułożenie elementów*/
.header {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* user1, avatar, dzwonek i logout w nagłówku */
.option-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 1.5rem;
    align-items: center;
}

.option-bar {
    display: flex;
    align-items: center;
    margin-right: 50px;
 }

 /*zachowanie avataru w nagłówku*/
.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* tytuł dashboardu */
.tittle {
    font-size: 3rem;
    margin-left: 50px;
}

/*stopka dolnego menu, tło i zachowanie*/
.footer {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    align-items: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* dolne menu */
.menu-bar ul {
    list-style-type: none;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.menu-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* główna zawartość dashboardu */
.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* białe boxy sekcji */
.section-box {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* tytul podstrony */
.box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 20px 0;
    margin-bottom: 0px;
}

/* odpwodzielane za przycisk back*/
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}

/* tytul podsekcji */
.section-tittle {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    padding: 10px 0 5px 0;
}

/* opis pod tytulem */
.section-subtitle {
    font-size: 1rem;
    color: #999;
    margin-bottom: 18px;
}

/* zapewnienie pełnej wysokości strony */
html {
    height: 100%;
}


/* tabela */
/* Kontener (opcjonalnie, aby tło też się rozciągało) */
.logs-table {
    width: 100%;
}

/* Styl dla samej tabeli */
.logs-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    font-size: 20px;
    height: 65px;
}

.logs-table td img {
    width: 60px;
    height: 60px;
}


.logs-table td:nth-child(2) {
    text-align: left;
    vertical-align: middle;
    padding: 0;
    height: 60px;
}

.logs-table td:nth-child(2) img {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

.search-panel {
    background-color: red;
}


th:nth-child(1), td:nth-child(1) { width: 5%; text-align: center; }
th:nth-child(2) { width: 5%; }
td:nth-child(3) { width: 15%; }
th:nth-child(4) { width: 15%; } 
th:nth-child(5) { width: 25%; }
th:nth-child(6) { width: 25%; } 
th:nth-child(7) { width: 10%; } 

@media (max-width: 1300px) {
    .all-users {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        gap: 10px;
    }

    .settings-options {
        grid-template-columns: repeat(2, 1fr);
    }
    .settings-empty {
        display: none;
    }
    .logout-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 40px;
        background-color: rgba(206, 70, 197, 0.75);
        border-radius: 20px;
    }
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
    .option-bar {
        display: none;
    }
    .main-content {
        padding: 0;
        gap: 15px;
    }
    .section-box:first-child {
        background-color: rgba(240, 199, 237);
        border-radius: 0;
        padding: 0;
        margin: 0;
        box-shadow: none;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .section-box:not(:first-child) {
        margin: 0;
    }
    .box_top {
        padding: 20px 2rem;
        background-color:  rgba(240, 199, 237);
        font-size: 40px;
        justify-content: space-between;
        align-items: flex-end;
    }
    .box_top > div:first-child {
        margin-top: 30px;
    }

    .settings-options {
        display: flex;
        flex-direction: column;
    }
    .single-option {
        font-size: 0;
        display: flex;
        align-items: end;
    }
        .single-option i {
        font-size: 30px;     /* przywraca normalny rozmiar ikony */
        margin-bottom: 10px;
    }
}