h1 {color: blueviolet;}

/* .main {
    padding-left: 1em;
    padding-right: 1em;;
} */

.card {
    position: relative;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: antiquewhite;
    border-radius: 1rem;
}

.card > img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card > p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.image-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff000045;
    border-radius: 1rem 1rem 0 0;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

.floating-icon {
    position: fixed;
    width: 2rem;
    height: 2rem;
    background-color: purple;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 1em;
    bottom: 1em;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.mobile-icons {
    display: none;
}

@media (max-width: 768px) {
    h1 {
        display: none;
    }
    .mobile-icons {
        display: block !important;
    }
}

@media print {
    h1 {
        display: none;
    }
    main {
        padding: 0;
        margin: 0;
    }
    .floating-icon {
        display: none;
    }
    p {
        font-size: 1.5em;
    }
    .mobile-icons {
        display: none !important;
    }
}

