body {
    min-height: 100vh;
    margin: 0; 
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction:  column;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    height: 10vh;
}


.header {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.option-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 1.5rem;
    align-items: center;
}

.option-bar {
    display: flex;
    align-items: center;
    margin-right: 50px;
 }

.option-bar ul li a,
.option-bar ul li a:visited {
    color: #551a8b;
    text-decoration: none;
}

.option-bar ul li a i {
    color: inherit;
}

 
.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.tittle {
    font-size: 3rem;
    margin-left: 50px;
}


.footer {
    height: 100px;
    background-color: rgba(240, 199, 237);
    display: flex;
    align-items: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}


.menu-bar ul {
    list-style-type: none;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.menu-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
    color: #551a8b;
}

.menu-bar ul li a:visited {
    color: #551a8b;
}

.pc-inline-form {
    display: inline;
}

.pc-icon-link {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #551a8b;
}

.pc-icon-link i {
    color: inherit;
}

.pc-cat-meta {
    font-size: 16px;
    color: #999;
}


.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section-box {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}


.box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 20px 0;
    margin-bottom: 0px;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 1rem;
}


.section-tittle {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    padding: 10px 0 5px 0;
}

.section-subtitle {
    font-size: 1rem;
    color: #999;
    margin-bottom: 18px;

}

.box_bottom {
    margin-bottom: 0;
}

.all-users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0;
    gap: 15px;
}

.single-user {
    background-color: rgb(238, 238, 238);
    display: flex;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.user-avatar {
    width: 70px;
    height: 60px;
    border-radius: 100%;
    margin: 10px 0px 10px 10px;
    object-fit: cover;
}

.user-name {
    font-size: 30px;
}

.pc-role-badge {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #999;
    border: 1px solid #ddd;
    padding: 2px 10px;
    border-radius: 999px;
    vertical-align: middle;
}

.user-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 20px;
}

.user-icons {
    display: flex;
    gap: 10px;
    color: #551a8b;
    text-decoration: none;
    
}

.user-icons a,
.user-icons a:visited {
    color: #551a8b;
    text-decoration: none;
}

.user-icons a i {
    color: inherit;
}

.user-icons a:hover {
    text-decoration: none;
}


.settings-options {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.setting-tittle {
    padding: 10px 0;
    font-size: 24px;
}

.settings-options label {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 0;
}

.setting-checkbox {
    background-color: black;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: grey;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #555;
    background-color: white;
    vertical-align: middle;
}

.box_under_bottom {
    display: none;

}


.logout-mobile {
    display: none;
}


html {
    height: 100%;
}

@media (max-width: 1300px) {
    .all-users {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        gap: 10px;
    }

    .settings-options {
        grid-template-columns: repeat(2, 1fr);
    }
    .settings-empty {
        display: none;
    }
    .logout-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 40px;
        background-color: rgba(206, 70, 197, 0.75);
        border-radius: 20px;
    }

    .box_under_bottom {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
    .option-bar {
        display: none;
    }
    .main-content {
        padding: 0;
        gap: 15px;
    }
    .section-box:first-child {
        background-color: rgba(240, 199, 237);
        border-radius: 0;
        padding: 0;
        margin: 0;
        box-shadow: none;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .section-box:not(:first-child) {
        margin: 0;
    }
    .box_top {
        padding: 20px 2rem;
        background-color:  rgba(240, 199, 237);
        font-size: 40px;
        justify-content: space-between;
        align-items: flex-end;
    }
    .box_top > div:first-child {
        margin-top: 30px;
    }

    .settings-options {
        display: flex;
        flex-direction: column;
    }
    .single-option {
        font-size: 0;
        display: flex;
        align-items: end;
    }
    .single-option i {
        font-size: 30px;   
        margin-bottom: 10px;
    }
    
}


.profile-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    padding: 12px 14px;
    border-radius: 14px;
    background-color: rgb(238, 238, 238);
    border: 1px solid #e0e0e0;
}

.profile-key {
    color: #999;
}

.profile-val {
    font-weight: 600;
}

.hint {
    background-color: rgb(238, 238, 238);
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    padding: 12px 14px;
}